{% extends 'base.html.twig' %}

{% block title %}Prestations{% endblock %}

{% block body %}
   
 <head>
       
        <link rel="stylesheet" href="assets/adminpresta.css">
        <title>Formulaire de Prestations</title>
    </head>
    <h2>Liste des prestations :</h2>
    
    <table>
        <tr>
            <th>Libellé Prestation</th>
            <th>Prix Unitaire</th>
            <th>Description</th>
            <th>Durée</th>
            <th>Actions</th>
        </tr>

        {% for prestation in prestations %}
            <tr>
                <td>{{ prestation.getLibellePrestation() }}</td>
                <td>{{ prestation.getPrixUnitairePrestation() }}</td>
                <td>{{ prestation.getDescriptionPrestation() }}</td>
                <td>{{ prestation.getDureePrestation() }}</td>
                <td>
                    <a href="{{ path('prestation_edit', {'id': prestation.id}) }}">Modifier</a>
                    <a href="{{ path('prestation_delete', {'id': prestation.id}) }}">Supprimer</a>
                </td>
            </tr>
        
        {% endfor %}
    </table>
    <div class="nvx">
        <a href="{{ path('prestation_new') }}">Ajouter une nouvelle prestation</a>
    </div>
    <div class="footer">
        <p>&copy; 2023 Camesthetique. Tous droits réservés.</p>
    </div>
{% endblock %}