{# templates/prestations/index.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('styles.css') }}">
    <title>Formulaire de Prestations</title>
</head>
<body>

    <form action="{{ path('prestations') }}" method="post">
        {{ form_start(form) }}

        <h2>Choisissez vos prestations :</h2>
        
        <table class="prestations-table">
            <tr>
                <th>Libellé</th>
                <th>Prix Unitaire</th>
                <th>Description</th>
                <th>Durée</th>
                <th>Sélectionner</th>
            </tr>
            {% for prestation in prestations %}
                <tr>
                    <td>{{ prestation.libellePrestation }}</td>
                    <td>{{ prestation.prixUnitairePrestation }}</td>
                    <td>{{ prestation.descriptionPrestation }}</td>
                    <td>{{ prestation.dureePrestation }}</td>
                    <td><input type="checkbox" name="prestations[]" value="{{ prestation.libellePrestation }}"></td>
                </tr>
            {% endfor %}
        </table>

        <button type="submit">Envoyer</button>

        {{ form_end(form) }}
    </form>

</body>
</html>