{% extends 'base.html.twig' %}

{% block title %}Prestations{% endblock %}

{% block body %}
    <!DOCTYPE html>
   
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ asset('assets/prestation.css') }}">
        <title>Formulaire de Prestations</title>
    </head>

    <body>
        <form action="submit.php" method="post">
            <h2>Choisissez vos prestations :</h2>
            
            <table>
                <tr>
                    <th>Libellé Prestation</th>
                    <th>Prix Unitaire</th>
                    <th>Description</th>
                    <th>Durée</th>
                </tr>

                {% for prestation in prestations %}
                    <tr>
                        <td>{{ prestation.getLibellePrestation() }}</td>
                        <td>{{ prestation.getPrixUnitairePrestation() }}</td>
                        <td>{{ prestation.getDescriptionPrestation() }}</td>
                        <td>{{ prestation.getDureePrestation() }}</td>
                    </tr>
                {% endfor %}
            </table>

          
        </form>
    </body>
    </html>
{% endblock %}

